{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Connections" %}{% endblock %}

{% block content %}
    <div class="content dark:bg-gray-800" style="min-height: 100vh">
        {% include 'Home/components/top-navbar.html' %}

        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-center py-4">
            {% trans "Account Connections" %}
        </h1>
        {% if form.accounts %}
            <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400 text-center">
                {% trans 'You can sign in to your account using any of the following third party accounts:' %}
            </p>

            <form method="post" action="{% url 'socialaccount_connections' %}">
                {% csrf_token %}

                <fieldset class="flex gap-4 justify-center flex-wrap items-center">
                    {% if form.non_field_errors %}
                        <div id="errorMsg">{{ form.non_field_errors }}</div>
                    {% endif %}

                    <div class="account flex flex-col gap-4">
                        {% for base_account in form.accounts %}
                            {% with base_account.get_provider_account as account %}
                                <div class="flex items-center px-4 border border-gray-200 rounded dark:border-gray-700">
                                    <input id="id_account_{{ base_account.id }}" type="radio"
                                           value="{{ base_account.id }}" name="account"
                                           class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="id_account_{{ base_account.id }}"
                                           class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }} w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                        {{ account.get_brand.name }} {{ account }}
                                    </label>
                                </div>
                            {% endwith %}
                        {% endfor %}
                    </div>

                    <div>
                        <button type="submit"
                                class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
                            {% trans 'Remove' %}
                        </button>
                    </div>

                </fieldset>

            </form>

        {% else %}
            <div class="flex p-4 mb-4 text-sm justify-center text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400"
                 role="alert">
                <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor"
                     viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                          clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Info</span>
                <div>
                    <span class="font-medium">¡Nota!</span> {% trans 'You currently have no social network accounts connected to this account.' %}
                </div>
            </div>
        {% endif %}

        <h2 class="my-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-5xl dark:text-white text-center py-4">
            {% trans 'Add a 3rd Party Account' %}
        </h2>

        <ul class="socialaccount_providers grid gap-4 ml-2"
            style="justify-items: center; width: 60%; margin-inline: auto">
            {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
        </ul>

        {% include "socialaccount/snippets/login_extra.html" %}

    </div>
{% endblock %}
{% block extra_body %}
    <script>
        function updateGridColumns() {
            const container = document.querySelector('.socialaccount_providers');
            const elements = container.children;
            const screenWidth = window.innerWidth;
            let numColumns;

            if (screenWidth >= 1024) {
                numColumns = Math.min(elements.length, 4);
            } else if (screenWidth >= 768) {
                numColumns = Math.min(elements.length, 2);
            } else {
                numColumns = Math.min(elements.length, 1);
            }

            container.style.gridTemplateColumns = 'repeat(' + numColumns + ', 1fr)';
        }

        window.addEventListener('DOMContentLoaded', function () {
            updateGridColumns();
        });

        window.addEventListener('resize', function () {
            updateGridColumns();
        });
    </script>
{% endblock %}
