{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <div class="content dark:bg-gray-800 flex flex-col items-center justify-center" style="min-height: 100vh">
        {% if process == "connect" %}
            <!-- Main modal -->
            <div id="deleteModal" tabindex="-1" aria-hidden="false"
                 class="overflow-y-auto overflow-x-hidden block z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
                <div class="relative p-4 w-full max-w-md mx-auto h-full md:h-auto">
                    <!-- Modal content -->
                    <div class="relative p-4 text-center bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
                        <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                             class="text-gray-400 dark:text-gray-500 w-11 h-11 mb-3.5 mx-auto"
                             aria-hidden="true">
                            <path clip-rule="evenodd" fill-rule="evenodd"
                                  d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z"></path>
                        </svg>
                        <h1 class="text-2xl mb-4 text-gray-900 font-bold dark:text-white">
                            {% blocktrans with provider.name as provider %}Conectar {{ provider }}{% endblocktrans %}
                        </h1>
                        <p class="mb-4 text-gray-500 dark:text-gray-300">
                            {% blocktrans with provider.name as provider %}
                                Está a punto de conectar una nueva cuenta de terceros desde {{ provider }}.
                            {% endblocktrans %}
                        </p>
                        <div class="flex justify-center items-center space-x-4">
                            <a href="{% url 'account_login' %}"
                               class="py-2 px-3 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                                No, Cancelar
                            </a>
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit"
                                        class="py-2 px-3 text-sm font-medium text-center text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-900">
                                    {% trans "Yes" %}, {% trans "Continue" %}
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <!-- Main modal -->
            <div id="deleteModal" tabindex="-1" aria-hidden="false"
                 class="overflow-y-auto overflow-x-hidden block z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
                <div class="relative p-4 w-full max-w-md mx-auto h-full md:h-auto">
                    <!-- Modal content -->
                    <div class="relative p-4 text-center bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
                        <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                             class="text-gray-400 dark:text-gray-500 w-11 h-11 mb-3.5 mx-auto"
                             aria-hidden="true">
                            <path clip-rule="evenodd" fill-rule="evenodd"
                                  d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z"></path>
                        </svg>
                        <h1 class="text-2xl mb-4 text-gray-900 font-bold dark:text-white">
                            {% blocktrans with provider.name as provider %}
                                Sign In Via {{ provider }}
                            {% endblocktrans %}
                        </h1>
                        <p class="mb-4 text-gray-500 dark:text-gray-300">
                            {% blocktrans with provider.name as provider %}
                                Está a punto de iniciar sesión con una cuenta de terceros de {{ provider }}.
                            {% endblocktrans %}
                        </p>
                        <div class="flex justify-center items-center space-x-4">
                            <a href=""
                               class="py-2 px-3 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                                No, Cancelar
                            </a>
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit"
                                        class="py-2 px-3 text-sm font-medium text-center text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-900">
                                    {% trans "Yes" %}, {% trans "Continue" %}
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}
