{% extends "account/base.html" %}

{% load i18n static %}
{% load account widget_tweaks %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="content dark:bg-gray-800 grid grid-cols-1 md:grid-cols-2" style="min-height: 100vh">
        <div class="form px-4 py-6 bg-gray-100 dark:bg-gray-800 flex flex-col justify-center">
            {% if user.is_authenticated %}
                <div class="flex p-4 mb-4 text-sm text-yellow-800 border border-yellow-300 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300 dark:border-yellow-800"
                     role="alert">
                    <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor"
                         viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                              clip-rule="evenodd"></path>
                    </svg>
                    <span class="sr-only">Info</span>
                    <div>
                        {% include "account/snippets/already_logged_in.html" %}
                        <a href="{% url 'profile' user.username user.id %}" class="text-blue-500 hover:underline">Ver mi
                            perfil</a>
                    </div>
                </div>
            {% endif %}
            <section class="">
                <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
                    <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
                        <img class="w-8 h-8 mr-2" src="{% static 'Home/images/logo_deming2.png' %}"
                             alt="logo">
                        Edwards Deming
                    </a>
                    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                                {% trans "Password Reset" %}
                            </h1>
                            <p class="text-gray-600 dark:text-gray-400">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                            <form class="space-y-4 md:space-y-6" method="POST"
                                  action="{% url 'account_reset_password' %}">
                                {% csrf_token %}
                                <div>
                                    <label for="{{ form.email.id_for_label }}"
                                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                        {{ form.email.label }}
                                    </label>
                                    {% render_field form.email name=form.email.html_name id=form.email.id_for_label type='email' placeholder='Correo electrónico' required='' class='bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %}
                                </div>

                                <div class="flex items-center justify-between">
                                    <div class="flex items-start">

                                    </div>
                                    <a href="{% url 'account_login' %}"
                                       class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">
                                        {% trans 'Sign In' %}
                                    </a>
                                </div>
                                <button type="submit"
                                        class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    {% trans 'Reset My Password' %}
                                </button>
                                <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                                    {% trans 'Please contact us if you have any trouble resetting your password.' %}
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="card px-4 relative py-8 md:py-6 bg-indigo-400 flex flex-col justify-center gap-4">
            <div class="header">
                <a href="{% url 'index' %}"
                   class="flex items-center mb-6 text-2xl font-semibold text-white">
                    <img class="w-10 h-10 mr-2" src="{% static 'Home/images/logo_deming2.png' %}"
                         alt="logo">
                    Instituto Superior Tecnológico Corporativo Edwards Deming
                </a>
                <h2 class="text-5xl font-bold text-white">Estás a punto de restablecer tu contraseña</h2>
                <button type="button" id="theme-toggle" data-popover-target="popover-theme"
                        class="flex absolute top-2 left-2 md:top-4 md:left-6 gap-2 text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
                    <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor"
                         viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                    </svg>
                    <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor"
                         viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                              fill-rule="evenodd" clip-rule="evenodd"></path>
                    </svg>
                </button>
                <div data-popover id="popover-theme" role="tooltip"
                     class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
                    <div class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700">
                        <h3 class="font-semibold text-gray-900 dark:text-white">Cambiar tema</h3>
                    </div>
                    <div data-popper-arrow></div>
                </div>
            </div>

            <div class="body relative">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                    class="w-24 h-24 mx-auto mt-8">
                    <!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                    <path d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"></path>
                </svg>
            </div>
        </div>

    </div>


{% endblock %}
