{% extends "account/base.html" %}

{% load i18n static widget_tweaks %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    {% if form.errors %}
        <div id="toast-danger"
             class="absolute flex items-center w-full max-w-xl top-4 left-8 p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800"
             role="alert">
            <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-100 rounded-lg dark:bg-red-800 dark:text-red-200">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                          clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Error icon</span>
            </div>
            <div class="ml-3 text-sm font-normal">
                <ul>
                    {% for key, value in form.errors.items %}
                        <li class="flex gap-2">
                            {{ key }}
                            <svg fill="none" class="w-5 h-5 text-gray-500 dark:text-gray-400" stroke="currentColor"
                                 stroke-width="1.5" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
                            </svg>
                            {{ value }}
                        </li>
                    {% endfor %}
                </ul>

            </div>
            <button type="button"
                    class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
                    data-dismiss-target="#toast-danger" aria-label="Close">
                <span class="sr-only">Close</span>
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                          clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>
    {% endif %}
    <div class="content dark:bg-gray-800 flex flex-col justify-center" style="min-height: 100vh">
        <h1 class="mx-auto">
            {% if token_fail %}
                <h3 class="text-3xl text-center mb-4 font-bold dark:text-white">{% trans "Bad Token" %}</h3>
            {% else %}
                <h3 class="text-3xl text-center mb-4 font-bold dark:text-white">{% trans "Change Password" %}</h3>
            {% endif %}
        </h1>

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p class="dark:text-gray-400 text-center">
                El enlace de restablecimiento de contraseña no era válido, posiblemente porque ya se usó. Solicite un nuevo
                <a href="{{ passwd_reset_url }}" class="text-blue-500 font-semibold hover:underline">restablecimiento de contraseña.</a>
            </p>
        {% else %}
            <form method="POST" action="{{ action_url }}" class="mx-auto w-96">
                {% csrf_token %}
                <div class="my-4">
                    <label for="{{ form.password1.id_for_label }}"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        {{ form.password1.label }}
                    </label>
                    {% render_field form.password1 placeholder="••••••••" type="password" required="True" id=form.password1.id_for_label name=form.password1.html_name class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
                </div>
                <div class="my-4">
                    <label for="{{ form.password2.id_for_label }}"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        {{ form.password2.label }}
                    </label>
                    {% render_field form.password2 placeholder="••••••••" type="password" required="True" id=form.password2.id_for_label name=form.password2.html_name class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
                </div>
                <button type="submit"
                        class="w-full text-white bg-blue-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    {% trans 'Change Password' %}
                </button>
            </form>
        {% endif %}
    </div>
{% endblock %}
