{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <div class="content dark:bg-gray-800 flex justify-center items-center flex-col" style="min-height: 100vh">
        <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400"
             role="alert">
            <span class="font-medium"><h1 class="text-3xl">{% trans "Verify Your E-mail Address" %}</h1></span>
            <p class="">
                {% trans 'We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification e-mail in your main inbox, check your spam folder. Please contact us if you do not receive the verification e-mail within a few minutes.' %}
            </p>
        </div>
        <p class="dark:text-gray-400">
            ¡Puedes cerrar esta ventana!
        </p>

    </div>

{% endblock %}
