{% load static %}
{% load humanize %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{% static 'Home/images/logo_deming2.png' %}" type="image/png"/>
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'Home/css/DataTables.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'Users/css/input_file.css' %}">
    {% block styles %}
    {% endblock %}
    <script>
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>
</head>
<body class="bg-gray-100 bg-opacity-50 dark:bg-gray-800"
      style="
              background-image: url({% static 'Home/images/logo_deming2.png' %});
              background-repeat: no-repeat;
              background-position: center;
              background-attachment: fixed;
              ">

{% include 'Users/components/navbar.html' %}

<div class="super-container" style="padding-top: 60px;">

    <div class="bg-gray-100 bg-opacity-50 dark:bg-gray-800 dark:bg-opacity-80 mx-auto p-8"
         style="min-height: calc(100vh - 53px);">
        {% block left-sidebar %}
            {% include 'Users/components/sidebar.html' %}
        {% endblock %}

        <div class="container mx-auto w-full py-6 flex items-stretch flex-col gap-8 flex-wrap" id="content-info">
            {% block content %}
                <div class="content-info w-full border py-4 px-6 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                    <h3 class="mb-6 flex items-center gap-4 text-4xl font-bold tracking-tight text-gray-900 dark:text-white">
                        <span>Información de cuenta</span>
                        <svg fill="none" class="w-8 h-8" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"></path>
                        </svg>
                    </h3>
                    <div class="info-user ml-4 flex flex-wrap gap-4">
                        <img class="rounded-full w-36 h-36" src="{{ user.get_picture_profile }}"
                             alt="Extra large avatar">
                        <div class="info">
                            <p class="mb-1 font-normal text-gray-700 dark:text-gray-400 flex items-center gap-2">
                                <svg fill="none" class="w-6 w-6" stroke="currentColor" stroke-width="1.5"
                                     viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path stroke-linecap="round"
                                          d="M16.5 12a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 10-2.636 6.364M16.5 12V8.25"></path>
                                </svg>
                                <span>{{ user.username }}</span>
                            </p>
                            <p class="mb-1 font-normal text-gray-700 dark:text-gray-400 flex items-center gap-2">
                                <svg fill="none" class="w-6 w-6" stroke="currentColor" stroke-width="1.5"
                                     viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                </svg>
                                <span>{{ user.get_full_name }}</span>
                            </p>
                            <p class="mb-1 font-normal text-gray-700 dark:text-gray-400 flex items-center gap-2">
                                <svg fill="none" class="w-6 w-6" stroke="currentColor" stroke-width="1.5"
                                     viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"></path>
                                </svg>
                                <span>{{ user.email }}</span>
                            </p>
                            <p class="mb-1 font-normal text-gray-700 dark:text-gray-400 flex items-center gap-2">
                                <svg fill="none" class="w-6 w-6" stroke="currentColor" stroke-width="1.5"
                                     viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z"></path>
                                </svg>
                                <span>Último inicio de sesión hace: {{ user.last_login | naturaltime }}</span>
                            </p>
                            <p class="mb-1 font-normal text-gray-700 dark:text-gray-400 flex items-center gap-2">
                                <svg fill="none" class="w-6 w-6" stroke="currentColor" stroke-width="1.5"
                                     viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M12 8.25v-1.5m0 1.5c-1.355 0-2.697.056-4.024.166C6.845 8.51 6 9.473 6 10.608v2.513m6-4.87c1.355 0 2.697.055 4.024.165C17.155 8.51 18 9.473 18 10.608v2.513m-3-4.87v-1.5m-6 1.5v-1.5m12 9.75l-1.5.75a3.354 3.354 0 01-3 0 3.354 3.354 0 00-3 0 3.354 3.354 0 01-3 0 3.354 3.354 0 00-3 0 3.354 3.354 0 01-3 0L3 16.5m15-3.38a48.474 48.474 0 00-6-.37c-2.032 0-4.034.125-6 .37m12 0c.39.049.777.102 1.163.16 1.07.16 1.837 1.094 1.837 2.175v5.17c0 .62-.504 1.124-1.125 1.124H4.125A1.125 1.125 0 013 20.625v-5.17c0-1.08.768-2.014 1.837-2.174A47.78 47.78 0 016 13.12M12.265 3.11a.375.375 0 11-.53 0L12 2.845l.265.265zm-3 0a.375.375 0 11-.53 0L9 2.845l.265.265zm6 0a.375.375 0 11-.53 0L15 2.845l.265.265z"></path>
                                </svg>
                                <span>Miembro desde {{ user.date_joined | naturaltime }}</span>
                            </p>
                            {% if user.is_active %}
                                <span class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">
                                Activo
                                </span>
                            {% else %}
                                <span class="bg-red-100 text-red-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">
                                NO Activo
                                </span>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="content-info border py-4 px-6 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                    <h3 class="mb-6 flex items-center gap-4 text-4xl font-bold tracking-tight text-gray-900 dark:text-white">
                        <span>Editar información</span>
                        <svg fill="none" class="w-8 h-8" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"></path>
                        </svg>
                    </h3>
                    <div class="info-user ml-4 flex flex-col flex-wrap gap-4">
                        <form action="" method="post" enctype="multipart/form-data" style="max-width: 50%">
                            {% csrf_token %}
                            <input type="number" hidden name="id_user_id" value="{{ user.id }}" readonly>
                            <div class="relative z-0 w-full mb-6 group">
                                <div class="container-input">
                                    {% if user.get_picture_profile %}
                                        <input type="file" name="profile_image" value="{{ user.get_picture_profile }}"
                                               accept="image/jpeg" class="inputfile inputfile-5" id="file-5"
                                               data-multiple-caption="{count} archivos seleccionados">
                                        <label for="file-5">
                                            <figure>
                                                <img src="{% static 'Home/images/user_profile_placeholder.jpg' %}"
                                                     alt="imagen de perfil de usuario">
                                                <img id="imagenPrevisualizacion" alt="Imagen de perfil del usuario"
                                                     loading="lazy" src="{{ user.get_picture_profile }}">
                                            </figure>
                                            <span class="iborrainputfile block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.picture_profile.label }}</span>
                                        </label>
                                    {% else %}
                                        {{ form.profile_image }}
                                        <label for="file-5">
                                            <figure>
                                                <img src="{% static 'Home/images/user_profile_placeholder.jpg' %}"
                                                     alt="imagen de perfil de usuario">
                                                <img id="imagenPrevisualizacion" alt="Imagen de perfil del usuario"
                                                     loading="lazy">
                                            </figure>
                                            <span class="iborrainputfile block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.picture_profile.label }}</span>
                                        </label>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="grid md:grid-cols-2 md:gap-6">
                                <div class="relative z-0 w-full mb-6">
                                    <label for="{{ form.username.id_for_label }}"
                                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                        {{ form.username.label }}
                                    </label>
                                    <div class="relative">
                                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                            <svg fill="none" stroke="currentColor"
                                                 class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                                 stroke-width="1.5" viewBox="0 0 24 24"
                                                 xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                                <path stroke-linecap="round"
                                                      d="M16.5 12a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 10-2.636 6.364M16.5 12V8.25"></path>
                                            </svg>
                                        </div>
                                        {{ form.username }}
                                    </div>
                                </div>

                                <div class="relative z-0 w-full mb-6">
                                    <label for="{{ form.email.id_for_label }}"
                                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                        {{ form.email.label }}
                                    </label>
                                    <div class="relative">
                                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                                 fill="currentColor"
                                                 viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
                                                <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
                                            </svg>
                                        </div>
                                        {{ form.email }}
                                    </div>
                                </div>
                            </div>

                            <div class="grid md:grid-cols-2 md:gap-6">
                                <div class="relative z-0 w-full mb-6">
                                    <label for="{{ form.first_name.id_for_label }}"
                                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                        {{ form.first_name.label }}
                                    </label>
                                    <div class="relative">
                                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                            <svg fill="none" stroke="currentColor"
                                                 class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                                 stroke-width="1.5" viewBox="0 0 24 24"
                                                 xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                      d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"></path>
                                            </svg>
                                        </div>
                                        {{ form.first_name }}
                                    </div>
                                </div>

                                <div class="relative z-0 w-full mb-6">
                                    <label for="{{ form.last_name.id_for_label }}"
                                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                        {{ form.last_name.label }}
                                    </label>
                                    <div class="relative">
                                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                            <svg fill="none" stroke="currentColor"
                                                 class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                                 stroke-width="1.5" viewBox="0 0 24 24"
                                                 xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                      d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"></path>
                                            </svg>
                                        </div>
                                        {{ form.last_name }}
                                    </div>
                                </div>
                            </div>

                            {% if request.user.is_superuser or request.user.is_staff and request.user.id != user.id %}
                            <section class="border p-4 mb-4 rounded-lg border-red-500 bg-red-500 bg-opacity-50">
                                <div class="grid md:grid-cols-2 md:gap-6">
                                    <div class="relative z-0 w-full mb-6">
                                        <div class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-600 mb-2">
                                            {{ form.is_staff }}
                                            <label for="{{ form.is_staff.id_for_label }}"
                                                   class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                                {{ form.is_staff.label }}
                                            </label>
                                        </div>
                                        <p id="{{ form.is_staff.id_for_label }}"
                                           class="text-xs font-normal text-gray-500 dark:text-gray-300">
                                            <svg fill="none" class="w-6 h-6" stroke="currentColor" stroke-width="1.5"
                                                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                      d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"></path>
                                            </svg>
                                            <span>Depende de los que se marque, este usuario podrá o no tener privilegios en el programa</span>
                                        </p>
                                    </div>

                                    <div class="relative z-0 w-full mb-6">
                                        <div class="flex items-center pl-4 border border-gray-200 rounded dark:border-gray-600 mb-2">
                                            {{ form.is_active }}
                                            <label for="{{ form.is_active.id_for_label }}"
                                                   class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                                {{ form.is_active.label }}
                                            </label>
                                        </div>
                                        <p id="{{ form.is_active.id_for_label }}"
                                           class="text-xs font-normal text-gray-500 dark:text-gray-300">
                                            <svg fill="none" class="w-6 h-6 block" stroke="currentColor" stroke-width="1.5"
                                                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                      d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"></path>
                                            </svg>
                                            <span>Si desmarca está opción, el usuario no podrá iniciar sesión y tendrá que contactar a un superusuario para que cambie su contraseña y active su cuenta</span>
                                        </p>
                                    </div>
                                </div>
                            </section>
                            {% endif %}
                            <div class="buttons flex justify-end">
                                <button type="submit"
                                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                    Actualizar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endblock content %}
        </div>
    </div>
</div>

{% block footer %}
{% endblock %}

<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.js"></script>
<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- DataTable -->
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'Home/js/darkMode.js' %}"></script>
<script src="{% static 'Home/js/dataTables.js' %}"></script>

{% block js %}
    <script src="{% static 'Users/js/input_file.js' %}"></script>
    <script>
        const input1 = document.getElementById("new_password1");
        const input2 = document.getElementById("new_password2");

        // Agregamos un event listener al input1 para detectar cuando se escribe algo en él
        input1.addEventListener("input", function () {
            // Verificamos si el valor del input1 es diferente de una cadena vacía
            if (input1.value !== "") {
                // Hacemos que el input2 sea requerido
                input1.required = true;
                input2.required = true;
            } else {
                // Si el input1 está vacío, quitamos el requerido del input2
                input1.required = false;
                input2.required = false;
            }
        });
        // Agregamos un event listener al input1 para detectar cuando se escribe algo en él
        input2.addEventListener("input", function () {
            // Verificamos si el valor del input1 es diferente de una cadena vacía
            if (input2.value !== "") {
                // Hacemos que el input2 sea requerido
                input2.required = true;
                input1.required = true;
            } else {
                // Si el input1 está vacío, quitamos el requerido del input2
                input2.required = false;
                input1.required = false;
            }
        });
    </script>
{% endblock %}

{% if messages %}
    {% for m in messages %}
        <script>
            Swal.fire({
                title: '{{ m.tags|capfirst }}',
                text: '{{ m }}',
                icon: '{{ m.tags }}'
            })
        </script>
    {% endfor %}
{% endif %}
</body>
</html>