{% extends 'Users/profile.html' %}

{% load countries %}
{% load static %}
{% load humanize %}

{% block title %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'Users/css/input_file.css' %}">
{% endblock %}

{% block left-sidebar %}
    {% include 'Users/components/sidebar.html' %}
{% endblock %}

{% block content %}
    <div class="content px-6 py-4">
        {% if events %}
            <div class="grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                {% for event in events %}
                    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <a href="#">
                            <img class="rounded-t-lg" src="{{ event.event.get_logo }}" alt=""/>
                        </a>
                        <div class="p-5">
                            <a href="#">
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                    {{ event.event.title }}</h5>
                            </a>
                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                                {{ event.event.addressed_to }}
                            </p>
                            <a href="#"
                               class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Read more
                                <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor"
                                     viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                          clip-rule="evenodd"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="content flex justify-center items-center flex-col w-full p-4">
                <img src="{% static 'Eventos/images/icons/filter-circle-xmark-solid.svg' %}"
                     style="width: 20rem" class="mb-4"
                     alt="ícono de registros no encontrados">
                <h1 class="text-5xl font-extrabold dark:text-white">Hasta ahora no has comprado eventos.</h1>
            </div>
        {% endif %}
    </div>
{% endblock content %}

{% block footer %}
{% endblock %}

{% block js %}
    <script src="{% static 'Users/js/input_file.js' %}"></script>
{% endblock %}
