{% extends 'Home/components/base.html' %}
{% load static %}


{% block title %}
    <title>Home | Plataforma de conferencias académicas del Instituto Deming</title>
{% endblock %}

{% block styles %}
    <style>
        @media screen and (min-width: 768px) {
            .carousel_wrapper {
                height: 24rem;
            }
        }

    </style>
    <link rel="stylesheet" href="{% static 'Home/css/components/owlcarousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'Home/css/components/owlcarousel/owl.theme.default.min.css' %}">
{% endblock %}

{% block navbar %}
    {% include 'Home/components/top-navbar.html' %}
{% endblock %}

{% block content %}
    <div class="content py-4 px-2" style="min-height: 100vh;">

        <section class="bg-white dark:bg-gray-900 py-4">
            <h1 class="mb-4 text-4xl text-center font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">
                ¡Bienvenido a nuestra plataforma de eventos académicos en línea!
            </h1>
            <div class="grid max-w-screen-xl grid-cols-1 px-4 pb-8 mx-auto gap-4 lg:py-16 md:grid-cols-2">
                <div class="mr-auto place-self-center">
                    <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
                        Le damos la Bienvenida a nuestra Plataforma de eventos académicos en línea.
                        Regístrese aquí en los eventos académicos en línea, pague de manera segura y reciba la
                        certificación cuando
                        complete el evento académico.
                    </p>
                    <a href="{% url 'eventos' %}"
                       class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                        Eventos
                        <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                  clip-rule="evenodd"></path>
                        </svg>
                    </a>
                    <a href="#"
                       class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                        Contáctanos
                    </a>
                    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
                    <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
                        Con nuestra plataforma usted puede acceder desde cualquier lugar del mundo a todos los eventos
                        académicos en
                        línea que brinda el Instituto Edwards Deming.
                    </p>
                </div>

                <div class="hidden lg:mt-0 lg:flex">
                    <div id="default-carousel" class="relative w-full my-6" data-carousel="slide">
                        <!-- Carousel wrapper -->
                        <div class="relative h-56 overflow-hidden rounded-lg carousel_wrapper">
                            <!-- Item 1 -->
                            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                <img src="https://deming.edu.ec/img/slider/deming_carreras_humanistica_slider7_(1).jpg"
                                     loading="lazy"
                                     class="absolute block w-full object-cover h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                                     alt="...">
                            </div>
                            <!-- Item 2 -->
                            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                <img src="https://deming.edu.ec/img/slider/deming_carreras_tecnologias_it_slider6.jpg"
                                     loading="lazy"
                                     class="absolute block w-full object-cover h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                                     alt="...">
                            </div>
                            <!-- Item 3 -->
                            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                <img src="https://deming.edu.ec/img/slider/deming_carreras_slider.jpg" loading="lazy"
                                     class="absolute block w-full object-cover h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                                     alt="...">
                            </div>
                        </div>
                        <!-- Slider indicators -->
                        <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1"
                                    data-carousel-slide-to="0"></button>
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2"
                                    data-carousel-slide-to="1"></button>
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3"
                                    data-carousel-slide-to="2"></button>
                        </div>
                        <!-- Slider controls -->
                        <button type="button"
                                class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                                data-carousel-prev>
                            <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
                                <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
                                     fill="none"
                                     stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path
                                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15 19l-7-7 7-7"></path></svg>
                                <span class="sr-only">Previous</span>
                            </span>
                        </button>
                        <button type="button"
                                class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                                data-carousel-next>
                            <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
                                <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
                                     fill="none"
                                     stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path
                                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9 5l7 7-7 7"></path></svg>
                                <span class="sr-only">Next</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </section>

        {% if events %}
            <div class="events" style="margin: 5rem 0;">

                <h2 class="text-4xl mb-6 text-center font-bold dark:text-white">¡Algunos de nuestros eventos!</h2>

                <!-- Set up your HTML -->
                <div class="owl-carousel">
                    {% for event in events %}
                        <div class="block">
                            <div class="w-full relative max-w-sm bg-white hover:bg-gray-200 border border-gray-700 rounded-lg shadow dark:bg-gray-900 dark:hover:bg-gray-800 dark:border-gray-700">
                                {% if event.active %}
                                    <span class="absolute top-2 left-2 bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">Activo</span>
                                {% else %}
                                    <span class="absolute top-2 left-2 bg-red-100 text-red-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">Inactivo</span>
                                {% endif %}

                                {% if event.user.id == request.user.id or perms.Eventos.change_event or perms.Eventos.delete_event %}
                                    <div class="flex px-4 pt-4 absolute top-0 right-0">
                                        <button id="dropdownButton" data-dropdown-toggle="dropdown"
                                                class="inline-block text-gray-400 hover:text-white dark:text-gray-400 bg-gray-600 dark:hover:bg-gray-700 dark:hover:text-white focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-full text-sm p-1.5"
                                                type="button">
                                            <span class="sr-only">Open dropdown</span>
                                            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor"
                                                 viewBox="0 0 20 20"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"></path>
                                            </svg>
                                        </button>
                                        <!-- Dropdown menu -->
                                        <div id="dropdown"
                                             class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                                            <ul class="py-2" aria-labelledby="dropdownButton">
                                                {% if perms.Eventos.change_event %}
                                                    <li>
                                                        <a href="{% url 'update_event' event.id %}"
                                                           class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                                                            Editar
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                {% if perms.Eventos.delete_event %}
                                                    <li>
                                                        {% url 'delete_event' event.id as url_del_event %}
                                                        <a href="#" onclick="delete_event('{{ url_del_event }}')"
                                                           class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                                                            Borrar
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                                <a href="{% url 'view_event' event.id %}" class="mb-4 block">
                                    <img class="rounded w-full object-cover" loading="lazy" src="{{ event.get_logo }}"
                                         alt="product image"/>
                                </a>
                                <div class="px-5 pb-5">
                                    <div class="mb-4 flex flex-wrap gap-4 justify-between items-center">

                                        <a href="{% url 'view_event' event.id %}"
                                           class="hover:underline">
                                            <h5 class="text-xl font-semibold tracking-tight text-gray-900 hover:text-blue-500 hover:underline dark:text-white dark:hover:text-blue-400">
                                                {{ event.title.capitalize }}
                                            </h5>
                                        </a>
                                        <div></div>
                                    </div>
                                    <div class="dates mb-4 flex gap-2 items-center">
                                        <div class="start_date">
                                            <p class="dark:text-white">
                                        <span class="bg-blue-100 text-blue-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">
                                            <svg fill="none" class="w-3 h-3 mr-1" stroke="currentColor"
                                                 stroke-width="1.5"
                                                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                                 aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                      d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z"></path>
                                            </svg>
                                          {{ event.start_date.isoformat }}
                                        </span>
                                            </p>
                                        </div>

                                        <svg fill="none" class="w-5 h-5 mr-1" stroke="white" stroke-width="1.5"
                                             viewBox="0 0 24 24"
                                             xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
                                        </svg>

                                        <div class="final_date">
                                            <p class="dark:text-white">
                                        <span class="bg-blue-100 text-blue-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">
                                            <svg fill="none" class="w-3 h-3 mr-1" stroke="currentColor"
                                                 stroke-width="1.5"
                                                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                                 aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                      d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z"></path>
                                            </svg>
                                          {{ event.final_date.isoformat }}
                                        </span>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="description mb-4">
                                        <p class="dark:text-gray-400">
                                            {{ event.addressed_to }}
                                        </p>
                                    </div>

                                    <div class="flex items-center justify-between">
                                        <p class="text-3md font-bold text-gray-900 dark:text-white flex items-center">
                                            <i class="fa-brands fa-paypal" style="color: #2e75ef;"></i>
                                            &nbsp;
                                            <span>${{ event.price.to_eng_string }}</span>
                                        </p>
                                        <a href="{% url 'view_event' event.id %}"
                                           class="text-white flex bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                            Explorar
                                            <svg fill="none" class="w-5 h-5 mr-1" stroke="white" stroke-width="1.5"
                                                 viewBox="0 0 24 24"
                                                 xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                      d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <section class="bg-white dark:bg-gray-900 my-4">
            <div class="py-8 lg:py-16 mx-auto max-w-screen-xl px-4">
                <h2 class="mb-8 lg:mb-16 text-3xl font-extrabold tracking-tight leading-tight text-center text-gray-900 dark:text-white md:text-4xl">
                    Para mantener tu seguridad, trabajamos con estas compañias
                </h2>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 text-gray-500 sm:gap-12 md:grid-cols-3 dark:text-gray-400">
                    <a href="#" class="flex justify-center items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="272" height="92">
                            <path fill="#EA4335"
                                  d="M115.75 47.18c0 12.77-9.99 22.18-22.25 22.18s-22.25-9.41-22.25-22.18C71.25 34.32 81.24 25 93.5 25s22.25 9.32 22.25 22.18zm-9.74 0c0-7.98-5.79-13.44-12.51-13.44S80.99 39.2 80.99 47.18c0 7.9 5.79 13.44 12.51 13.44s12.51-5.55 12.51-13.44z"></path>
                            <path fill="#FBBC05"
                                  d="M163.75 47.18c0 12.77-9.99 22.18-22.25 22.18s-22.25-9.41-22.25-22.18c0-12.85 9.99-22.18 22.25-22.18s22.25 9.32 22.25 22.18zm-9.74 0c0-7.98-5.79-13.44-12.51-13.44s-12.51 5.46-12.51 13.44c0 7.9 5.79 13.44 12.51 13.44s12.51-5.55 12.51-13.44z"></path>
                            <path fill="#4285F4"
                                  d="M209.75 26.34v39.82c0 16.38-9.66 23.07-21.08 23.07-10.75 0-17.22-7.19-19.66-13.07l8.48-3.53c1.51 3.61 5.21 7.87 11.17 7.87 7.31 0 11.84-4.51 11.84-13v-3.19h-.34c-2.18 2.69-6.38 5.04-11.68 5.04-11.09 0-21.25-9.66-21.25-22.09 0-12.52 10.16-22.26 21.25-22.26 5.29 0 9.49 2.35 11.68 4.96h.34v-3.61h9.25zm-8.56 20.92c0-7.81-5.21-13.52-11.84-13.52-6.72 0-12.35 5.71-12.35 13.52 0 7.73 5.63 13.36 12.35 13.36 6.63 0 11.84-5.63 11.84-13.36z"></path>
                            <path fill="#34A853" d="M225 3v65h-9.5V3h9.5z"></path>
                            <path fill="#EA4335"
                                  d="m262.02 54.48 7.56 5.04c-2.44 3.61-8.32 9.83-18.48 9.83-12.6 0-22.01-9.74-22.01-22.18 0-13.19 9.49-22.18 20.92-22.18 11.51 0 17.14 9.16 18.98 14.11l1.01 2.52-29.65 12.28c2.27 4.45 5.8 6.72 10.75 6.72 4.96 0 8.4-2.44 10.92-6.14zm-23.27-7.98 19.82-8.23c-1.09-2.77-4.37-4.7-8.23-4.7-4.95 0-11.84 4.37-11.59 12.93z"></path>
                            <path fill="#4285F4"
                                  d="M35.29 41.41V32H67c.31 1.64.47 3.58.47 5.68 0 7.06-1.93 15.79-8.15 22.01-6.05 6.3-13.78 9.66-24.02 9.66C16.32 69.35.36 53.89.36 34.91.36 15.93 16.32.47 35.3.47c10.5 0 17.98 4.12 23.6 9.49l-6.64 6.64c-4.03-3.78-9.49-6.72-16.97-6.72-13.86 0-24.7 11.17-24.7 25.03 0 13.86 10.84 25.03 24.7 25.03 8.99 0 14.11-3.61 17.39-6.89 2.66-2.66 4.41-6.46 5.1-11.65l-22.49.01z"></path>
                        </svg>
                    </a>
                    <a href="#" class="flex justify-center items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="272" height="92" fill="none"
                             viewBox="0 0 170 48">
                            <g clip-path="url(#a)">
                                <path fill="#003087"
                                      d="M62.56 28.672a10.111 10.111 0 0 0 9.983-8.56c.78-4.967-3.101-9.303-8.6-9.303H55.08a.689.689 0 0 0-.69.585l-3.95 25.072a.643.643 0 0 0 .634.742h4.69a.689.689 0 0 0 .688-.585l1.162-7.365a.689.689 0 0 1 .689-.586h4.257Zm3.925-8.786c-.29 1.836-1.709 3.189-4.425 3.189h-3.474l1.053-6.68h3.411c2.81.006 3.723 1.663 3.435 3.496v-.005Zm26.378-1.18H88.41a.69.69 0 0 0-.69.585l-.144.924s-3.457-3.775-9.575-1.225c-3.51 1.461-5.194 4.48-5.91 6.69 0 0-2.277 6.718 2.87 10.417 0 0 4.771 3.556 10.145-.22l-.093.589a.642.642 0 0 0 .634.742h4.451a.689.689 0 0 0 .69-.585l2.708-17.175a.643.643 0 0 0-.634-.742Zm-6.547 9.492a4.996 4.996 0 0 1-4.996 4.276 4.513 4.513 0 0 1-1.397-.205c-1.92-.616-3.015-2.462-2.7-4.462a4.996 4.996 0 0 1 5.014-4.277c.474-.005.946.065 1.398.206 1.913.614 3.001 2.46 2.686 4.462h-.005Z"></path>
                                <path fill="#0070E0"
                                      d="M126.672 28.672a10.115 10.115 0 0 0 9.992-8.56c.779-4.967-3.101-9.303-8.602-9.303h-8.86a.69.69 0 0 0-.689.585l-3.962 25.079a.637.637 0 0 0 .365.683.64.64 0 0 0 .269.06h4.691a.69.69 0 0 0 .689-.586l1.163-7.365a.688.688 0 0 1 .689-.586l4.255-.007Zm3.925-8.786c-.29 1.836-1.709 3.189-4.426 3.189h-3.473l1.054-6.68h3.411c2.808.006 3.723 1.663 3.434 3.496v-.005Zm26.377-1.18h-4.448a.69.69 0 0 0-.689.585l-.146.924s-3.456-3.775-9.574-1.225c-3.509 1.461-5.194 4.48-5.911 6.69 0 0-2.276 6.718 2.87 10.417 0 0 4.772 3.556 10.146-.22l-.093.589a.637.637 0 0 0 .365.683c.084.04.176.06.269.06h4.451a.686.686 0 0 0 .689-.586l2.709-17.175a.657.657 0 0 0-.148-.518.632.632 0 0 0-.49-.224Zm-6.546 9.492a4.986 4.986 0 0 1-4.996 4.276 4.513 4.513 0 0 1-1.399-.205c-1.921-.616-3.017-2.462-2.702-4.462a4.996 4.996 0 0 1 4.996-4.277c.475-.005.947.064 1.399.206 1.933.614 3.024 2.46 2.707 4.462h-.005Z"></path>
                                <path fill="#003087"
                                      d="m109.205 19.131-5.367 9.059-2.723-8.992a.69.69 0 0 0-.664-.492h-4.842a.516.516 0 0 0-.496.689l4.88 15.146-4.413 7.138a.517.517 0 0 0 .442.794h5.217a.858.858 0 0 0 .741-.418l13.632-22.552a.516.516 0 0 0-.446-.789h-5.215a.858.858 0 0 0-.746.417Z"></path>
                                <path fill="#0070E0"
                                      d="m161.982 11.387-3.962 25.079a.637.637 0 0 0 .365.683c.084.04.176.06.269.06h4.689a.688.688 0 0 0 .689-.586l3.963-25.079a.637.637 0 0 0-.146-.517.645.645 0 0 0-.488-.225h-4.69a.69.69 0 0 0-.689.585Z"></path>
                                <path fill="#001C64"
                                      d="M37.146 22.26c-1.006 5.735-5.685 10.07-11.825 10.07h-3.898c-.795 0-1.596.736-1.723 1.55l-1.707 10.835c-.099.617-.388.822-1.013.822h-6.27c-.634 0-.784-.212-.689-.837l.72-7.493-7.526-.389c-.633 0-.862-.345-.772-.977l5.135-32.56c.099-.617.483-.882 1.106-.882h13.023c6.269 0 10.235 4.22 10.72 9.692 3.73 2.52 5.474 5.873 4.72 10.168Z"></path>
                                <path fill="#0070E0"
                                      d="m12.649 25.075-1.907 12.133-1.206 7.612a1.034 1.034 0 0 0 1.016 1.19h6.622a1.27 1.27 0 0 0 1.253-1.072l1.743-11.06a1.27 1.27 0 0 1 1.253-1.071h3.898A12.46 12.46 0 0 0 37.617 22.26c.675-4.307-1.492-8.228-5.201-10.165a9.96 9.96 0 0 1-.12 1.37 12.461 12.461 0 0 1-12.295 10.54h-6.1a1.268 1.268 0 0 0-1.252 1.07Z"></path>
                                <path fill="#003087"
                                      d="M10.741 37.208H3.03a1.035 1.035 0 0 1-1.018-1.192L7.208 3.072A1.268 1.268 0 0 1 8.46 2H21.7c6.269 0 10.827 4.562 10.72 10.089a11.567 11.567 0 0 0-5.399-1.287H15.983a1.27 1.27 0 0 0-1.254 1.071l-2.08 13.202-1.908 12.133Z"></path>
                            </g>
                            <defs>
                                <clipPath id="a">
                                    <path fill="#fff" d="M0 0h166v44.01H0z" transform="translate(2 2)"></path>
                                </clipPath>
                            </defs>
                        </svg>
                    </a>
                    <a href="#" style="background:#ffac00;" class="flex rounded justify-center items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="272" height="92" id="Layer_1" data-name="Layer 1"
                             viewBox="0 0 230 50">
                            <defs>
                                <style>.cls-1 {
                                    fill: #fff;
                                }</style>
                            </defs>
                            <path class="cls-1"
                                  d="M178,29.5A21.76,21.76,0,0,0,191.38,34a5.11,5.11,0,0,0-4-5A16.68,16.68,0,0,1,180.74,26a10.65,10.65,0,0,1-4.21-6.59.6.6,0,0,1,.68-.68c2,.32,5.69.7,14.36.7,4.33,0,5.07,1.45,6.47,4.95,0,0,0,.1.1.26a81.14,81.14,0,0,0-4.36,16.31c1.49.2,3,.34,4.49.43a62.89,62.89,0,0,1,2.29-9.83,63,63,0,0,1,2.3,9.91q2.26,0,4.5-.27A80.05,80.05,0,0,0,203,24.59c.06-.17.1-.26.1-.28,1.4-3.48,2.14-4.9,6.45-4.93,8.83,0,12.53-.39,14.48-.72a.52.52,0,0,1,.59.59,10.61,10.61,0,0,1-4.22,6.7A16.68,16.68,0,0,1,213.76,29a5.11,5.11,0,0,0-4,5,21.76,21.76,0,0,0,13.43-4.49c3.89-3.06,6-7.13,6-11.47v-.6a3.81,3.81,0,0,0-.08-.74c-.43-2-2.55-3.13-4.83-2.67-1.36.28-4.19.85-14.77.85-5,0-7.37,1.75-9,4.31-1.6-2.56-4-4.27-9-4.31-10.57,0-13.41-.57-14.77-.85A3.92,3.92,0,0,0,172,16.69a3.81,3.81,0,0,0-.08.74V18C171.92,22.37,174.06,26.44,178,29.5Z"></path>
                            <path class="cls-1"
                                  d="M10.6,32.47c-2.35,0-4.63-.77-5.84-2.75V37.6H.8V14h4v2.49a6.42,6.42,0,0,1,5.8-2.79c6.34,0,9.29,3,9.29,9.39S16.9,32.47,10.6,32.47ZM4.76,23.11c0,4.23,1.48,6.18,5.84,6.18,4.12,0,5.33-1.95,5.33-6.18S14.72,17,10.56,17C6.24,17,4.76,19,4.76,23.11Z"></path>
                            <path class="cls-1"
                                  d="M41,32.2H37V30a6.59,6.59,0,0,1-5.57,2.51c-7.38,0-9.56-4.09-9.56-9.39,0-5.1,2-9.39,9.52-9.39S41,18,41,23.08ZM25.76,23.08c0,4.36,1.37,6.14,5.7,6.14s5.63-1.78,5.63-6.14-1.34-6.14-5.67-6.14S25.76,18.72,25.76,23.08Z"></path>
                            <path class="cls-1"
                                  d="M60.5,13.92C58.12,19,55.17,25.63,52.29,31.57c-1.18,2.71-2.62,5.7-5.74,6.44a21.07,21.07,0,0,1-4.9.47V35.32c2.15-.06,3.26.1,4.2-.43s1.67-2,2.68-3.86L41,13.92h4.13l5.56,12.62,5.74-12.62Z"></path>
                            <path class="cls-1"
                                  d="M72.11,32.47c-2.35,0-4.63-.77-5.84-2.75V37.6H62.32V14h3.95v2.49c1.31-2.08,3.49-2.79,5.81-2.79,6.34,0,9.29,3,9.29,9.39S78.42,32.47,72.11,32.47Zm-5.84-9.36c0,4.23,1.48,6.18,5.84,6.18,4.12,0,5.33-1.95,5.33-6.18S76.23,17,72.08,17C67.75,17,66.27,19,66.27,23.11Z"></path>
                            <path class="cls-1"
                                  d="M99.18,32.2v-10c-.07-4-1.85-5.13-5.6-5.13C90.19,17.08,88,18.35,88,22V32.2h-4V8.59h4v7.85c1.24-2,3.29-2.48,5.54-2.48,7.51,0,9.55,4.12,9.55,8.05V32.2Z"></path>
                            <path class="cls-1"
                                  d="M114.91,32.47c-6.34,0-9.56-3-9.56-9.39s3.22-9.39,9.56-9.39,9.52,3,9.52,9.39S121.21,32.47,114.91,32.47Zm0-15.66c-4.4,0-5.67,2-5.67,6.27s1.27,6.24,5.67,6.24,5.63-2,5.63-6.24S119.27,16.81,114.91,16.81Z"></path>
                            <path class="cls-1"
                                  d="M142.17,32.2c0-2.41,0-5.5,0-7.88,0-4.39-.5-7.24-5.6-7.24-4.3,0-5.5,2.24-5.5,6.27V32.2h-4V13.92h4v2.52a6.15,6.15,0,0,1,5.5-2.48c5.26,0,9.49,2.21,9.49,8V32.2Z"></path>
                            <path class="cls-1"
                                  d="M163.33,26.67l0,0c-.31,1.88-2.15,2.62-4.87,2.62-3.75,0-5.33-1.51-5.63-4.63h15c.4-7-1.92-11-9.39-11s-9.53,4.36-9.53,9.42,2,9.36,9.49,9.36c4.87,0,7.72-1.46,9-5.8Zm-4.92-9.79c3.86,0,5.33,1.64,5.5,4.83H152.77C153,18.49,154.52,16.88,158.41,16.88Z"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </section>

        <div class="testimonials">
            <section class="bg-white dark:bg-gray-900">
                <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
                    <div class="mx-auto max-w-screen-sm">
                        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
                            Testimonios</h2>
                        <p class="mb-8 font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">
                            Lo que piensan algunos usuarios de nuestra plataforma
                        </p>
                    </div>
                    <div class="grid mb-8 lg:mb-12 lg:grid-cols-2">
                        <figure class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-b border-gray-200 md:p-12 lg:border-r dark:bg-gray-800 dark:border-gray-700">
                            <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                                    Una experiencia increíble con la web de Deming Events
                                </h3>
                                <p class="my-4">"¡La web de Deming Events es simplemente increíble! Me encanta la
                                    variedad de eventos
                                    que ofrecen, sus conferencias educativas son muy completas.
                                </p>
                                <p class="my-4">
                                    Además,
                                    la interfaz es muy fácil de usar y me permite reservar y disfrutar de los eventos
                                    desde la comodidad de mi hogar.
                                </p>
                                <p class="my-4">
                                    ¡Definitivamente la recomiendo a todos los amantes
                                    de los eventos!"
                                </p>
                            </blockquote>
                            <figcaption class="flex justify-center items-center space-x-3">
                                <img class="w-9 h-9 rounded-full" loading="lazy"
                                     src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png"
                                     alt="profile picture">
                                <div class="space-y-0.5 font-medium dark:text-white text-left">
                                    <div>María G</div>
                                    <div class="text-sm font-light text-gray-500 dark:text-gray-400">
                                        Desarrolladora de Software
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                        <figure class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-b border-gray-200 md:p-12 dark:bg-gray-800 dark:border-gray-700">
                            <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                                    Mi experiencia superándome con esta maravillosa web.
                                </h3>
                                <p class="my-4">"Gracias a la web de Deming Events, he tenido la oportunidad de asistir
                                    a eventos y
                                    congresos que nunca hubiera podido disfrutar de otra manera.
                                </p>
                                <p class="my-4">
                                    Vivo en una ciudad pequeña donde la oferta de eventos académicos es limitada,
                                    pero esta plataforma me ha abierto las puertas a un mundo de experiencias.
                                </p>
                                <p class="my-4">
                                    La calidad de los eventos y congresos que ofrecen y la interacción con otros
                                    participantes hacen que sea una experiencia realmente enriquecedora."
                                </p>
                            </blockquote>
                            <figcaption class="flex justify-center items-center space-x-3">
                                <img class="w-9 h-9 rounded-full" loading="lazy"
                                     src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png"
                                     alt="profile picture">
                                <div class="space-y-0.5 font-medium dark:text-white text-left">
                                    <div>Juan C</div>
                                    <div class="text-sm font-light text-gray-500 dark:text-gray-400">
                                        Docente de Matemáticas
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                        <figure class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-b border-gray-200 lg:border-b-0 md:p-12 lg:border-r dark:bg-gray-800 dark:border-gray-700">
                            <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                                    Explorando un mundo educativo desde mi hogar
                                </h3>
                                <p class="my-4">"He podido disfrutar de mis temas de educación favoritos, participar en
                                    talleres
                                    y congresos educativos, todo sin tener que salir de casa.
                                </p>
                                <p class="my-4">
                                    ¡Es una forma fantástica de mantenerse conectado con el mundo de la educación y
                                    el aprendizaje continuo! 🤯.
                                </p>
                                <p class="my-4">
                                    ¡Además los pagos son 100% seguros, tranquilidad garantizada! Con esta plataforma,
                                    mis transacciones son un paseo seguro por la confianza.
                                    ¡No esperes más para disfrutar sin preocupaciones!"
                                </p>
                            </blockquote>
                            <figcaption class="flex justify-center items-center space-x-3">
                                <img class="w-9 h-9 rounded-full" loading="lazy"
                                     src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/roberta-casas.png"
                                     alt="profile picture">
                                <div class="space-y-0.5 font-medium dark:text-white text-left">
                                    <div>Laura M</div>
                                    <div class="text-sm font-light text-gray-500 dark:text-gray-400">
                                        Docente de Música
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                        <figure class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-gray-200 md:p-12 dark:bg-gray-800 dark:border-gray-700">
                            <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                                    ¿Cómo definir esta web?: ¡Mi escuela prática!
                                </h3>
                                <p class="my-4">"Soy un empresario y la web de Deming Events ha sido una herramienta
                                    invaluable
                                    para expandir mi red de contactos y aprender de expertos en mi industria.
                                </p>
                                <p class="my-4">
                                    He participado en conferencias y webinars que me han brindado conocimientos
                                    prácticos y me han conectado con personas influyentes.
                                </p>
                                <p class="my-4">
                                    La calidad de la educación y la facilidad de acceso hacen que esta plataforma
                                    sea imprescindible para cualquier profesional en busca de oportunidades."
                                </p>
                            </blockquote>
                            <figcaption class="flex justify-center items-center space-x-3">
                                <img class="w-9 h-9 rounded-full" loading="lazy"
                                     src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/robert-brown.png"
                                     alt="profile picture">
                                <div class="space-y-0.5 font-medium dark:text-white text-left">
                                    <div>Carlos R</div>
                                    <div class="text-sm font-light text-gray-500 dark:text-gray-400">Empresario</div>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="text-center">
                        <p class="text-gray-500 dark:text-gray-400 mb-4">Y tú, ¿qué esperas para convertirte en tu mejor
                            versión con nosotros?</p>
                        <a href="{% url 'eventos' %}"
                           class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                            ¡Tu mejor versión ahora!
                        </a>
                    </div>
            </section>
        </div>

    </div>

{% endblock content %}

{% block footer %}
    {% include 'Home/components/footer.html' %}
{% endblock %}

{% block js %}
    <script src="{% static 'Home/js/components/owlcarousel/jquery.min.js' %}"></script>
    <script src="{% static 'Home/js/components/owlcarousel/owl.carousel.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $(".owl-carousel").owlCarousel({
                loop: true,
                autoplay: true,
                autoplayTimeout: 1000,
                autoWidth: true,
                autoplayHoverPause: true,
                responsiveClass: true,
                margin:10,
                responsive: {
                    640: {
                        items: 1,
                        nav: true,
                        loop: false,
                    },
                    768: {
                        items: 3,
                        nav: false
                    },
                    1024: {
                        items: 5,
                        nav: true,
                        loop: false
                    }
                }
            });
        });
    </script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if 'accounts/login/' in request.META.HTTP_REFERER %}
        <script>
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 2000,
                timerProgressBar: true,
            })
            Toast.fire({
                icon: 'success',
                title: '¡Inicio de sesión correcto, bienvenido!'
            })
        </script>
    {% endif %}

    <script>
        var navbarHome = document.getElementById('NavbarHome');
        var navbarEventos = document.getElementById('NavbarEventos');
        var navbarContactos = document.getElementById('NavbarContactos');
        var navbarCarreras = document.getElementById('NavbarCarreras');

        navbarContactos.removeAttribute('aria-current');
        navbarEventos.removeAttribute('aria-current')
        navbarCarreras.removeAttribute('aria-current');
        navbarHome.setAttribute('aria-current', 'page');

        navbarHome.className = 'block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white';
    </script>
{% endblock %}
