{% extends 'Home/components/base.html' %}
{% load static %}
{% load countries %}


{% block title %}
    <title>Eventos</title>
{% endblock %}

{% block styles %}
{% endblock %}

{% block navbar %}
    {% include 'Home/components/top-navbar.html' %}
{% endblock %}

{% block content %}
    hola
    <div class="fixed right-6 bottom-6">
        <button type="button" data-modal-target="events-form-modal" data-modal-toggle="events-form-modal"
                class="flex items-center justify-center text-white bg-blue-700 rounded-full w-14 h-14 hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-800">
            <svg aria-hidden="true" class="w-8 h-8 transition-transform group-hover:rotate-45" fill="none"
                 stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
            </svg>
            <span class="sr-only">Open actions menu</span>
        </button>
    </div>

    <!-- Extra Large Modal -->
    <div id="events-form-modal" tabindex="-1"
         class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
        <div class="relative w-full h-full max-w-7xl md:h-auto">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-5 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-xl font-medium text-gray-900 dark:text-white">
                        Regístra un Evento
                    </h3>
                    <button type="button"
                            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                            data-modal-hide="events-form-modal">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-4 space-y-6">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
                            <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab"
                                data-tabs-toggle="#myTabContent" role="tablist">
                                <li class="mr-2" role="presentation">
                                    <button class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-tab"
                                            data-tabs-target="#profile" type="button" role="tab" aria-controls="profile"
                                            aria-selected="false">Paso 1
                                    </button>
                                </li>

                                <li class="mr-2" role="presentation">
                                    <button class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                                            id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab"
                                            aria-controls="dashboard" aria-selected="false">Paso 2
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div id="myTabContent">
                            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="profile" role="tabpanel"
                                 aria-labelledby="profile-tab">
                                <div class="relative z-0 w-full mb-6 group">
                                    <label for="{{ form.logo.id_for_label }}"
                                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                        Logo</label>
                                    {{ form.logo }}
                                    {% if form.logo.errors %}
                                        <p id="filled_error_help"
                                           class="mt-2 text-xs text-red-600 dark:text-red-400"><span
                                                class="font-medium">Oh, error!</span> {{ form.logo.errors }}
                                        </p>
                                    {% endif %}
                                </div>

                                <div class="grid md:grid-cols-3 md:gap-6">
                                    <div class="relative z-0 w-full mb-6 group">
                                        <label for="{{ form.title.id_for_label }}"
                                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                            Título</label>
                                        {{ form.title }}
                                        {% if form.country_of_birth.errors %}
                                            <p id="filled_error_help"
                                               class="mt-2 text-xs text-red-600 dark:text-red-400"><span
                                                    class="font-medium">Oh, error!</span> {{ form.country_of_birth.errors }}
                                            </p>
                                        {% endif %}
                                    </div>

                                    <div class="relative z-0 w-full mb-6 group">
                                        <label for="{{ form.place.id_for_label }}"
                                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                            Lugar</label>
                                        {{ form.place }}
                                        {% if form.country_of_birth.errors %}
                                            <p id="filled_error_help"
                                               class="mt-2 text-xs text-red-600 dark:text-red-400"><span
                                                    class="font-medium">Oh, error!</span> {{ form.country_of_birth.errors }}
                                            </p>
                                        {% endif %}
                                    </div>

                                    <div class="relative z-0 w-full mb-6 group">
                                        <label for="{{ form.price.id_for_label }}"
                                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                            Precio</label>
                                        {{ form.price }}
                                        {% if form.country_of_birth.errors %}
                                            <p id="filled_error_help"
                                               class="mt-2 text-xs text-red-600 dark:text-red-400"><span
                                                    class="font-medium">Oh, error!</span> {{ form.country_of_birth.errors }}
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="addressed_to">
                                    <div class="relative z-0 w-full mb-6 group">
                                        <label for="{{ form.addressed_to.id_for_label }}"
                                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                            Dirigído a:</label>
                                        {{ form.addressed_to }}
                                        <p id="addressed_to" class="mt-2 text-sm text-gray-500 dark:text-gray-400">
                                            {{ form.addressed_to.help_text }}
                                        </p>
                                        {% if form.addressed_to.errors %}
                                            <p id="filled_error_help"
                                               class="mt-2 text-xs text-red-600 dark:text-red-400"><span
                                                    class="font-medium">Oh, error!</span> {{ form.addressed_to.errors }}
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="grid md:grid-cols-3 md:gap-6">
                                    <div class="relative z-0 w-full mb-6 group">
                                        <label for="{{ form.start_date.id_for_label }}"
                                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                            Fecha de inicio</label>
                                        {{ form.start_date }}
                                        {% if form.start_date.errors %}
                                            <p id="filled_error_help"
                                               class="mt-2 text-xs text-red-600 dark:text-red-400"><span
                                                    class="font-medium">Oh, error!</span> {{ form.start_date.errors }}
                                            </p>
                                        {% endif %}
                                    </div>

                                    <div class="relative z-0 w-full mb-6 group">
                                        <label for="{{ form.final_date.id_for_label }}"
                                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                            Fecha de cierre</label>
                                        {{ form.final_date }}
                                        {% if form.final_date.errors %}
                                            <p id="filled_error_help"
                                               class="mt-2 text-xs text-red-600 dark:text-red-400"><span
                                                    class="font-medium">Oh, error!</span> {{ form.final_date.errors }}
                                            </p>
                                        {% endif %}
                                    </div>

                                    <div class="relative z-0 w-full mb-6 group">
                                        <label for="{{ form.modality.id_for_label }}"
                                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                            Modalidad</label>
                                        {{ form.modality }}
                                        {% if form.modality.errors %}
                                            <p id="filled_error_help"
                                               class="mt-2 text-xs text-red-600 dark:text-red-400"><span
                                                    class="font-medium">Oh, error!</span> {{ form.modality.errors }}
                                            </p>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>

                            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="dashboard"
                                 role="tabpanel" aria-labelledby="dashboard-tab">

                                <div class="grid md:grid-cols-3 md:gap-6">
                                    <div class="relative z-0 w-full mb-6 group">
                                        {% get_countries as countries %}
                                        <label for="{{ form.country_phone.id_for_label }}"
                                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                            País</label>
                                        <select id="{{ form.country_phone.id_for_label }}" name="country_phone"
                                                class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                            {% for country in countries %}
                                                <option value="{{ country.code }}">{{ country.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <p id="helper-text-explanation"
                                           class="mt-2 text-sm text-gray-500 dark:text-gray-400">
                                            {{ form.country_phone.help_text }}
                                        </p>
                                        {% if form.country_phone.errors %}
                                            <p id="filled_error_help"
                                               class="mt-2 text-xs text-red-600 dark:text-red-400"><span
                                                    class="font-medium">Oh, error!</span> {{ form.country_phone.errors }}
                                            </p>
                                        {% endif %}
                                    </div>


                                    <div class="relative z-0 w-full mb-6 group">
                                        <label for="{{ form.phone.id_for_label }}"
                                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                            Teléfono de contacto</label>
                                        {{ form.phone }}
                                        {% if form.phone.errors %}
                                            <p id="filled_error_help"
                                               class="mt-2 text-xs text-red-600 dark:text-red-400"><span
                                                    class="font-medium">Oh, error!</span> {{ form.phone.errors }}
                                            </p>
                                        {% endif %}
                                    </div>

                                    <div class="relative z-0 w-full mb-6 group">
                                        <label for="{{ form.alternative_phone.id_for_label }}"
                                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                            Teléfono de contacto (Alternativo)</label>
                                        {{ form.alternative_phone }}
                                        {% if form.alternative_phone.errors %}
                                            <p id="filled_error_help"
                                               class="mt-2 text-xs text-red-600 dark:text-red-400"><span
                                                    class="font-medium">Oh, error!</span> {{ form.alternative_phone.errors }}
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="grid md:grid-cols-3 md:gap-6">
                                    <div class="relative z-0 w-full mb-6 group">
                                        <label for="{{ form.email.id_for_label }}"
                                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                            Email de contacto</label>
                                        {{ form.email }}
                                        {% if form.email.errors %}
                                            <p id="filled_error_help"
                                               class="mt-2 text-xs text-red-600 dark:text-red-400"><span
                                                    class="font-medium">Oh, error!</span> {{ form.email.errors }}
                                            </p>
                                        {% endif %}
                                    </div>

                                    <div class="relative z-0 w-full mb-6 group">
                                        <label for="{{ form.alternative_email.id_for_label }}"
                                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                            Email de contacto (Alternativo)</label>
                                        {{ form.alternative_email }}
                                        {% if form.alternative_email.errors %}
                                            <p id="filled_error_help"
                                               class="mt-2 text-xs text-red-600 dark:text-red-400"><span
                                                    class="font-medium">Oh, error!</span> {{ form.alternative_email.errors }}
                                            </p>
                                        {% endif %}
                                    </div>

                                    <div class="relative z-0 w-full mb-6 group">
                                        <label for="{{ form.link_video.id_for_label }}"
                                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                            Video de explicación</label>
                                        {{ form.link_video }}
                                        {% if form.link_video.errors %}
                                            <p id="filled_error_help"
                                               class="mt-2 text-xs text-red-600 dark:text-red-400"><span
                                                    class="font-medium">Oh, error!</span> {{ form.link_video.errors }}
                                            </p>
                                        {% endif %}
                                    </div>

                                </div>

                                <div class="grid md:grid-cols-3 md:gap-6">
                                    <div class="relative z-0 w-full mb-6 group">
                                        <label for="{{ form.curriculum_user.id_for_label }}"
                                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                            Hoja de vida del responsable (PDF)</label>
                                        {{ form.curriculum_user }}
                                        {% if form.curriculum_user.errors %}
                                            <p id="filled_error_help"
                                               class="mt-2 text-xs text-red-600 dark:text-red-400"><span
                                                    class="font-medium">Oh, error!</span> {{ form.curriculum_user.errors }}
                                            </p>
                                        {% endif %}
                                    </div>

                                    <div class="relative z-0 w-full mb-6 group">
                                        <label for="{{ form.event_planning.id_for_label }}"
                                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                            Planificación del evento (PDF)</label>
                                        {{ form.event_planning }}
                                        {% if form.event_planning.errors %}
                                            <p id="filled_error_help"
                                               class="mt-2 text-xs text-red-600 dark:text-red-400"><span
                                                    class="font-medium">Oh, error!</span> {{ form.event_planning.errors }}
                                            </p>
                                        {% endif %}
                                    </div>

                                    <div class="relative z-0 w-full mb-6 group">
                                        <label for="{{ form.career.id_for_label }}"
                                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                            Carrera vinculada</label>
                                        {{ form.career }}
                                        {% if form.career.errors %}
                                            <p id="filled_error_help"
                                               class="mt-2 text-xs text-red-600 dark:text-red-400"><span
                                                    class="font-medium">Oh, error!</span> {{ form.career.errors }}
                                            </p>
                                        {% endif %}
                                    </div>

                                </div>

                                <div class="buttons flex gap-4 justify-center">
                                    <button type="reset"
                                            class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
                                        Limpiar campos
                                    </button>
                                    <button type="submit"
                                            class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">
                                        Guardar
                                    </button>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <!-- Modal footer -->
                <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
    <script>
        var navbarHome = document.getElementById('NavbarHome');
        var navbarEventos = document.getElementById('NavbarEventos');
        var navbarContactos = document.getElementById('NavbarContactos');
        var navbarCarreras = document.getElementById('NavbarCarreras');

        navbarContactos.removeAttribute('aria-current');
        navbarCarreras.removeAttribute('aria-current');
        navbarHome.removeAttribute('aria-current');
        navbarEventos.setAttribute('aria-current', 'page');

        navbarEventos.className = 'block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white';
    </script>
{% endblock %}
